.form-wrapper {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-item-group {
        display: flex;
        background-color: $lightestyellow;
        margin: 8px;
        width: 88%;
    }

    .form-item {
        margin: 5px;
        padding: 3px;

        input {
            width: 300px;
        }

        .tiny-note {
            font-size: 10px;
        }
    }
}