.game-roster-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-roster-container {
        min-width: 100%;
        
        .roster-line {
            display: grid;
            grid-template-columns: 8fr 6fr 6fr 8fr 1fr;
            background-color: $lightestyellow;
            padding: 5px;
            border: 1px solid white;

            .one {
                grid-column-start: 1;
            }

            .two {
                grid-column-start: 2;
            }

            .three {
                grid-column-start: 3;
            }

            .four {
                grid-column-start: 4;
            }

            .delete {
                grid-column-start: 5;
                
                &:hover {
                    cursor: pointer;
                    color: red;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}