.game-search-item-wrapper {
    width: 40vw;
    border: 2px solid $lightbrown;
    border-radius: 5px;
    margin: 20px;
    background-color: $lightyellow;

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
        transition: 0.5s ease-in-out;
    }

    .game-search-item {
        display: flex;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

        .game-search-left {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 100px;
                height: 100px;
                border: 8px solid white;
                border-radius: 60px;
            }
        }

        .game-search-right {
            padding: 15px;
            display: flex;
            flex-direction: column;
            color: $brown;

            .game-search-title {
                font-size: 20px;
                font-weight: 800;

                .game-search-subtitle {
                    font-size: 12px;
                    font-weight: 200;
                }
            }

            .game-search-info {
                display: flex;
                flex-direction: column;

                .game-search-info-top {
                    padding: 5px 0px 5px 0px;

                }

                .game-search-info-bottom {
                    padding: 5px 0px 5px 0px;
                    font-size: 14px;

                    .distance-away {
                        color: rgb(62, 62, 255);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
