.home {
    margin-top: 10%;
    height: 100vh;

    .home-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 200px;
        }

        .welcome {
            font-weight: 900;
            font-size: 25px;                
        }

        .home-buttons {
            display: flex;
            justify-content: space-between;
        }

        .home-options {
            .status {
                margin: 10px;
            }
        }
    }
}