.home-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $lightyellow;
    width: 70vw;
    align-items: center;

    .content {
        display: flex;
        background-color: white;
        width: 90%;
        justify-content: center;
    }

    .home {
        margin-top: 10%;

        .home-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 200px;
            }

            .welcome {
                font-weight: 900;
                font-size: 25px;                
            }
        }
    }
}