.locations-list {
    margin: 10px;
    padding: 5px;
    background-color: #f7e5b9;
    max-width: 300px;

    .place-list-item {
        cursor: pointer;

        &:hover {
            background-color: $lightyellow;
        }
    }
}