@import './variables.scss';

.app-wrapper {
    background-color: $yellow;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;



    h1, h2, h3, h4, h5, h6 {
        color: $brown;
        margin: 12px; 
    }


}

@import './buttons.scss';
@import './navigation.scss';
@import './game-search.scss';
@import './forms.scss';
@import './game-search-item.scss';
@import './home.scss';
@import './user-editor.scss';
@import './user-viewer.scss';