@import './variables.scss';

.app-wrapper {
    background-color: $yellow;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 55px;
    margin-bottom: 28px;

    h1, h2, h3, h4, h5, h6 {
        color: $brown;
        margin: 8px; 
    }

    .errorDisplay {
        color: red;
    }

    .open {
        color: green;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .closed {
        color: red;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $lightyellow;
        width: 70vw;
        align-items: center;
        min-height: 100vh;
    
        .content {
            display: flex;
            background-color: white;
            width: 90%;
            justify-content: center;
            min-height: 100vh;

            .universal-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin-top: 15px;
                margin-bottom: 15px;
        
                border: 2px solid $lightbrown;
                border-radius: 5px;
                padding: 20px;
                width: 915px;
            }
        }
    }
}


@import './buttons.scss';
@import './navigation.scss';
@import './error.scss';
@import './game-builder.scss';
@import './game-roster.scss';
@import './game-search.scss';
@import './footer.scss';
@import './forms.scss';
@import './game.scss';
@import './game-search-item.scss';
@import './home.scss';
@import './location-search.scss';
@import './profile-game-item.scss';
@import './user-editor.scss';
@import './user-viewer.scss';