.profile-game-item-wrapper {
    padding: 15px 50px 15px 50px;
    width: 300px;
    margin: 5px;
    background-color: $lightestyellow;
    border-top: 2px solid $yellow;
    border-bottom: 2px solid $yellow;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
        transition: 0.5s ease-in-out;
    }

    .profile-game-item {
        display: flex;
        justify-content: left;
        align-items: center;
        
        .info {
            padding: 2px;
        }

        .info-top {
            font-weight: 700;
        }
    }
}